<div>
  <div class='output'>
    <div class='row'>
      <div class='col-md-12'>

      </div>
    </div>
  </div>

  <div class='calculator'>
    <div class="row">
      <div class='col-md-12'>
        <div class='calcuRow'>
            <div class='button animate' ng-click="clearPress()"> C </div>
            <div class='button animate'> +/- </div>
            <div class='button animate'> % </div>
            <div class='button animate'> / </div>
        </div>
        <div class='calcuRow'>
            <div class='button animate' ng-click="pressValue('7')"> 7 </div>
            <div class='button animate' ng-click="pressValue('8')"> 8 </div>
            <div class='button animate' ng-click="pressValue('9')"> 9 </div>
            <div class='button animate'> X </div>
        </div>
        <div class='calcuRow'>
            <div class='button animate' ng-click="pressValue('4')"> 4 </div>
            <div class='button animate' ng-click="pressValue('5')"> 5 </div>
            <div class='button animate' ng-click="pressValue('6')"> 6 </div>
            <div class='button animate'> - </div>
        </div>
        <div class='calcuRow'>
            <div class='button animate' ng-click="pressValue('1')"> 1 </div>
            <div class='button animate' ng-click="pressValue('2')"> 2 </div>
            <div class='button animate' ng-click="pressValue('3')"> 3 </div>
            <div class='button animate'> + </div>
        </div>
        <div class='calcuRow'>
            <div class='button animate' ng-click="pressValue('0')"> 0 </div>
            <div class='button animate' ng-click="pressValue('.')"> . </div>
            <div class='button long animate'> = </div>
        </div>
      </div>
    </div>
  </div>

</div>
